.container {
  padding-bottom: 60px; /* Make room for the fixed input box */
}

.input-container {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: white;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.input-box {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.send-button {
  margin-left: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.send-button:hover {
  background-color: #0056b3;
}

.card {
  margin-bottom: 20px;
}

.card-custom-margin{
  margin-left: 10px;
  height: 418px;
}

.card-img {
  height: 200px;
  object-fit: cover;
}

.card-body {
  text-align: left;
}

.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.col-md-4, .col-md-8 {
  padding-right: 0;
  padding-left: 0;
}
