/* ListingResponse.css */

.listing-response {
  display: flex;
  flex-direction: column;
}

.listing {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.map-container {
  margin-top: 10px;
  width: 100%;
  height: 300px;
}
